<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Sent</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Link your CSS file -->

</head>
<body align ='center'>
     
    <h1>Leave Form Sent</h1>
    <p>Your leave form has been successfully submitted to the principal.</p>
    <p>You will be notified once it has been processed.</p>
    <a href="/">Home</a><br>
    <br>
    <br>
    <br>
    <img src="/online-leave-application-system.png" height="400" width ="400"> <!-- Added missing closing angle bracket -->

</body>
</html>
